<div class="flex justify-between items-center mb-5 bg-gray-50 p-2  rounded-lg shadow-sm">
    <div class="flex gap-2 items-center">
        <div>
            <button class="w-22 pl-3 pr-10 py-2 px-4 bg-green-600 text-white rounded hover:bg-green-700 transition">
            Regresar
          </button>            
        </div>
        <div class="flex-1"><h2 class="text-3xl font-semibold text-foreground text-balance pl-4">Sistema de Gestión Bibliotecaria</h2><p class="text-muted-foreground mt-1 pl-4">Detalles y seguimiento del proyecto</p></div>
    </div>
    
    <div class="flex relative w-48">
        <p class="text-center truncate text-green-600 font-bold">En progreso - 25%</p>
      
    </div>
</div>
<div class="flex justify-between items-center mb-5 bg-gray-50 p-2  rounded-lg shadow-sm">

    <div class="relative p-2 flex-auto">

        <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-4/12 px-2">
            <div class="space-y-2">
                <label for="nombreProyecto" class="block text-sm font-medium text-gray-700">Fechas del proyecto</label>
                <p>Fecha de inicio: 2025-10-26</p>
                <p>Fecha de finalización: 2025-10-26</p>
                
            </div>
        </div>
        <div class="w-full lg:w-4/12 px-2">
            <div class="space-y-2">
                <label for="nombreProyecto" class="block text-sm font-medium text-gray-700">Profesores asignados</label>
                <p>Profesor 1</p>
                <p>Profesor 2</p>
                
            </div>
        </div>
        <div class="w-full lg:w-4/12 px-2">
            <div class="space-y-2">
                <label for="nombreProyecto" class="block text-sm font-medium text-gray-700">Estudiantes asignados</label>
                <p>Estudiante 1</p>
                <p>Estudiante 2</p>
                
            </div>
        </div>
        </div>
    </div>

</div>

<!--obsercaciones-->
<div class="flex justify-between items-center mb-5 bg-gray-50 p-2  rounded-lg shadow-sm">

    <div class="relative p-2 flex-auto">

        <div class="flex flex-wrap mb-4">
            <div class="w-full lg:w-12/12 px-2">
                <div class="space-y-2">
                    <div data-slot="card-title" class="leading-none font-semibold flex items-center gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text h-5 w-5">
                        <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                        <path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path>
                        <path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                        Avances del Proyecto
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="flex flex-wrap mb-4">
            <div class="w-full lg:w-12/12 p-6 border border-gray-300 rounded-lg">
                <div class="space-y-2">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center gap-2">
                            <div class="h-8 w-8 rounded-full bg-green-600 flex items-center justify-center text-white text-base font-medium">1</div>
                            <div>
                                <p class="font-medium text-foreground">Ana García</p>
                                <p class="text-xs text-muted-foreground">19 de octubre de 2025, 19:00</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-xs text-muted-foreground border border-gray-300 p-1 rounded font-bold">
                                <span data-slot="badge" class="justify-center px-2 py-0.5 text-xs text-gray-600 font-medium flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check h-3 w-3">
                                        <circle cx="12" cy="12" r="10"></circle>
                                        <path d="m9 12 2 2 4-4"></path>
                                    </svg>
                                    <span>45%</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="p-1 rounded-md  flex justify-start w-full">
                        <p class="text-foreground leading-relaxed bg-gray-100 p-2 rounded-md">Hemos completado el diseño de la base de datos y la arquitectura del sistema. Adjunto el diagrama ER y la documentación técnica.</p>
                    </div>
                    <p class="flex justify-start w-full text-xs text-muted-foreground pl-4">19 de octubre de 2025, 19:00</p>
                    <div class="py-4 flex flex-col justify-start w-full border-t-2 border-b-2 border-gray-200 ">
                        <div data-slot="card-title" class="leading-none flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text h-5 w-5">
                            <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                            <path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path>
                            <path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                            Documentos adjuntos
                        </div>
                        <!-- Documentos adjuntos -->
                        <div class="flex flex-wrap">
                            <div class="w-full lg:w-12/12 px-2">
                                <div class="flex gap-2 space-y-1">
                                    <div class="text-sm bg-gray-50 px-2 py-1 rounded-md text-gray-600">
                                        <div class="flex items-center gap-2">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4ZM10 12V8H14V12H17L12 17L7 12H10Z" fill="#808080"/>
                                            </svg>
                                            Diagrama ER
                                        </div>
                                    </div>
                                    <div class="text-sm bg-gray-50 px-2 py-1 rounded-md text-gray-600">
                                        <div class="flex items-center gap-2">
                                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4ZM10 12V8H14V12H17L12 17L7 12H10Z" fill="#808080"/>
                                            </svg>
                                            Diagrama ER
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-1 rounded-md  flex justify-end w-full">
                        <p class="text-foreground leading-relaxed bg-gray-100 p-2 rounded-md">Hemos completado el diseño de la base de datos y la arquitectura del sistema. Adjunto el diagrama ER y la documentación técnica.</p>
                    </div>
                    <p class="flex justify-end w-full text-xs text-muted-foreground pr-4">19 de octubre de 2025, 19:00</p>
                    <div class="flex justify-end w-full">
                        <div class="py-4 flex flex-col w-full border-t-2 border-b-2 border-gray-200 ">
                            <div data-slot="card-title" class="leading-none flex justify-end items-center gap-2 pr-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text h-5 w-5">
                                <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
                                <path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path>
                                <path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                                Documentos adjuntos
                            </div>
                            <!-- Documentos adjuntos -->
                            <div class="flex flex-wrap">
                                <div class="w-full lg:w-12/12 px-2">
                                    <div class="flex gap-2 space-y-1 justify-end">
                                        <div class="text-sm bg-gray-50 px-2 py-1 rounded-md text-gray-600">
                                            <div class="flex items-center gap-2">
                                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4ZM10 12V8H14V12H17L12 17L7 12H10Z" fill="#808080"/>
                                                </svg>
                                                Diagrama ER
                                            </div>
                                        </div>
                                        <div class="text-sm bg-gray-50 px-2 py-1 rounded-md text-gray-600">
                                            <div class="flex items-center gap-2">
                                                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM12 4C16.4183 4 20 7.58172 20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4ZM10 12V8H14V12H17L12 17L7 12H10Z" fill="#808080"/>
                                                </svg>
                                                Diagrama ER
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex justify-end">
                        <button class="w-full pl-3 pr-10 py-2 px-4 bg-green-600 text-white rounded hover:bg-green-700 transition">
                            Agregar observación
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

