<div class="space-y-6">
  @if(tab == 0 ) {
    <!-- Header -->
  <div class="flex justify-between items-center mb-5 bg-gray-50 p-2 rounded-lg shadow-sm">
    <div class="flex gap-2">
      <button 
        *ngFor="let filter of filterButtons" 
        class="px-4 py-1 rounded-md border transition-all"
        [class]="activeFilter === filter.value ? 'bg-green-600 text-white border-green-600' : 'bg-white text-gray-600 border-gray-300 hover:bg-gray-50'"
        (click)="setFilter(filter.value)">
        {{ filter.label }}
      </button>
    </div>
    
    <div class="relative w-80">
      <input 
        type="text" 
        class="w-full pl-3 pr-10 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Buscar colaborador"
        [(ngModel)]="searchText"
        (input)="onSearchChange()">
      <i class="fas fa-search absolute right-3 top-3 text-gray-400"></i>
    </div>
  </div>
  <!-- Tabla de usuarios -->
  <div class="bg-white p-6 shadow rounded-xl overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Código</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Proyecto</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Progreso</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Estado</th>
          <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700">Acciones</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @for(proyecto of proyectos; track $index) {
        <tr>
          <td class="px-6 py-4 text-gray-800">{{ proyecto.codigoProyecto }}</td>
          <td class="px-6 py-4 text-gray-600">{{ proyecto.nombreProyecto }}</td>
          <td class="px-6 py-4 text-gray-600 capitalize">{{ proyecto.porcentaje }}%</td>
          <td class="px-6 py-4 text-gray-600 capitalize">{{ proyecto.estadoProyecto }}</td>

          <td class="px-6 py-4">
            <button (click)="tab = 1" class="text-blue-600 hover:underline mr-2">Mostrar</button> 
          </td>
        </tr>
        }@empty {
          <tr>
            <td colspan="4" class="px-6 py-4 text-center">No hay proyectos</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  }@if(tab == 1) {
      <app-detalle-proyecto></app-detalle-proyecto>
  }

  
  
</div>
  